# Sacrebleu, v2.0 with SPM BLEU support
git+https://github.com/mjpost/sacrebleu.git@65a8a9eeccd8c0c7875e875e12edf10db33ab0ba

# Custom fork of fairseq v0.10.2
# git+https://github.com/j0ma/fairseq_fork.git

# Standard packages
#uralicNLP
pycountry
sacremoses
pyyaml
attrs
sentencepiece
click
lxml
mtdata
tqdm
psutil
guildai
nltk
git+https://github.com/cthoyt/p_tqdm@patch-1
orjson
pyconll==3.1.0.dev3
rich
